<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
</head>
<body>

<div class="navbar">
  <div class="navbar-part">
      <div class="navbar-item" style="margin-right:16px;"> <a href="{% url 'books' %}">главная</a> </div>
      <div class="navbar-item"> <a href="{% url 'new_book'%}">добавить</a> </div>
  </div>
  <div class="navbar-part" style="margin-right: 4rem;">
      <div class="navbar-item"> <a href="{% url 'users_login'%}">вход</a> </div>
      <div class="navbar-item"> <a href="{% url 'user_register'%}">регистрация</a> </div>
  </div>
</div>

</body>

</html>
