*{
    font-family: "Times New Roman";
    font-size: 16px
}
body{
    margin: 0;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.book-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    background: #c4bdb799;
    margin: 12px;
    padding: 12px;
}
.book-wrapper > img{
    max-width: 100px;
}



.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffffaa;
    margin: 0;
    width: 100%;
}
.navbar-part{
    display: flex;
    flex-direction: row;
}
.navbar-item{
    padding: 0.5rem;
}
.navbar-item:hover{
    background: #aaaaaaaa;
}
.navbar-item > a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}


.body-wrapper{
    background:  #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    background: #ffffff33;
    padding: 1rem;
    border-radius: 1rem;
}
.form-wrapper > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-wrapper > form > div{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 0.5rem;
}
.form-wrapper > form > input[type="submit"]{
    width: 100%;
    margin: 0.5rem;
}